{% extends 'base.html' %}
{% block title %} Home {% endblock title%}

{% block body %}
<!-- Heading -->
        <div class="row mt-4">
            <div class="col-md-12">
                <h1 class="text-white display-4 fw-bold">
                    Top 50 Books
                </h1>
            </div>
        </div>
<!-- Book Cards -->
        <div class="row">
            {% for i in range(book_name|length) %}
            
            <div class="col-auto mt-4">
                
                <div class="card p-3">
                    <img class="card-img-top" src="{{ image[i] }}" alt="Book Image">
                    <div class="card-body">
                        <h5 class="card-title"> {{book_name[i]}}</h5>
                        <p class="card-text">Author : {{author[i]}}</p>
                        <p class="card-text">Votes: {{votes[i]}}</p>
                        <p class="card-text">Rating: {{rating[i]|round(2)}}</p>
                    </div>

                </div>

            </div>

            {% endfor%}
            
        </div>
{% endblock body%}
